<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="itp341.caceres.nicholas.positive_note.app">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"> <!-- Supports Right-to-left formats (supportRtl) -->

    <!--Package name from manifest attr is appended to activity android:name-->
    <activity
        android:name=".ActivityHome"
        android:label="@string/app_name"
        android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name=".ActivityTabs"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:parentActivityName=".ActivityHome"/>
    <activity
        android:name=".ActivityUserProfile"
        android:label="@string/app_name" />
    <activity
        android:name=".ActivityChatMessages"
        android:label="@string/app_name"
        android:parentActivityName=".ActivityTabs"
        android:windowSoftInputMode="adjustResize|stateHidden" /> <!-- Affects EditText - shifting UI -->
    <activity
        android:name=".ActivityFindUsers"
        android:label="@string/app_name"
        android:parentActivityName=".ActivityTabs"/>
    <activity android:name=".ActivityUserSettings" />
    <activity android:name=".ActivityCreateAccount" />
  </application>

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

  <uses-permission android:name="android.permission.INTERNET" />

</manifest>
